# Scholarship Allocation Tool
# Pre-processing


<br>Completion
<br>Every step identified in the DSM has been addressed or completed, including:
<br>Creating dummy features
<br>Scale standardization
<br>Split data into training and testing subsets
<br>
<br>The submission shows that the student understands when to apply the steps identified in the completion block.
<br>
<br>Jupyter Notebook with all the applied code steps in working order and with notation or comments as needed.
The submission is complete and uploaded in full to the Github repo.

<br> text processing
<br> https://stackoverflow.com/questions/65199011/is-there-a-way-to-check-similarity-between-two-full-sentences-in-python

<br>modeling
<br>https://www.kaggle.com/code/jonathanoheix/sentiment-analysis-with-hotel-reviews/notebook

<br>other
<br>https://medium.com/analytics-vidhya/predict-public-review-ratings-a-preview-of-natural-language-processing-series-14953f5a126d
<br>https://medium.com/data-science-lab-spring-2021/amazon-review-rating-prediction-with-nlp-28a4acdd4352

# Guide

# 1. Import libraries and Data<a id='import'></a>

## Import libraries

In [8]:
# Import the libraries
import requests
import io

import pandas as pd
import numpy as np

from IPython.display import display
pd.options.display.max_columns = None

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
matplotlib.rcParams['figure.dpi'] = 200
matplotlib.rcParams['figure.figsize'] = [11, 8]

## Import data

In [9]:
#get living wage data from GitHub: Floydworks
#living_wage_table = pd.read_csv('/Users/sandidge/Desktop/Python_Projects/BGS/exports_imports/MIT_income_table.csv').iloc[:, 1:]
url = ('https://raw.githubusercontent.com/Floydworks/Scholarship_Allocation_Tool/main/data_files/MIT_income_table.csv')
download = requests.get(url).content
# Read the downloaded content and turn it into a pandas dataframe
living_wage_table = pd.read_csv(io.StringIO(download.decode('utf-8'))).iloc[:, 1:]

#get calculated costs from GitHub: Floydworks
#calculated_costs_table = pd.read_csv('/Users/sandidge/Desktop/Python_Projects/BGS/exports_imports/calculated_costs_table.csv').iloc[:, 1:]
url = ('https://raw.githubusercontent.com/Floydworks/Scholarship_Allocation_Tool/main/data_files/calculated_costs_table.csv')
download = requests.get(url).content
# Read the downloaded content and turn it into a pandas dataframe
calculated_costs_table = pd.read_csv(io.StringIO(download.decode('utf-8'))).iloc[:, 1:]
    
#get fabricated applicant data from GitHub: Floydworks
#fabricated_scholarship = pd.read_csv('/Users/sandidge/Desktop/Python_Projects/BGS/exports_imports/fabricated_allotments.csv').iloc[:, 1:]
url = ('https://raw.githubusercontent.com/Floydworks/Scholarship_Allocation_Tool/main/data_files/fabricated_allotments.csv')
download = requests.get(url).content
# Read the downloaded content and turn it into a pandas dataframe
fabricated_scholarship = pd.read_csv(io.StringIO(download.decode('utf-8'))).iloc[:, 1:]

#get real applicant data from GitHub: Floydworks
#real_data = pd.read_csv('/Users/sandidge/Desktop/Python_Projects/BGS/exports_imports/df_past_awards2.csv').iloc[:, 1:]
url = ('https://raw.githubusercontent.com/Floydworks/Scholarship_Allocation_Tool/main/data_files/df_past_awards2.csv')
download = requests.get(url).content
# Read the downloaded content and turn it into a pandas dataframe
real_data = pd.read_csv(io.StringIO(download.decode('utf-8'))).iloc[:, 1:]

In [11]:
calculated_costs_table

,year,req_base_income,cost_adult,cost_child,single_parent,circumstance_cost,disposable_unit
0,2019,36331,4544.67,19238.67,5359.00,2000,4000
1,2020,34288,5153.33,19438.00,5035.67,2000,4000
2,2021,45520,5407.00,29891.00,8265.67,3000,6000
3,2022,50463,7671.33,33949.67,7704.67,3000,6000

In [10]:
real_data

,household_income,year,number_adults,number_children,single,employment,divorce,medical,education,immigration,housing,total_circumstances,circumstance_cost,disposable_unit,extra_cost,single_parent_cost,family_base_income,family_need_income,disposable_income,family_disposable_unit,percent_award,percent_eligible
0,0.0,2022,1,2,1,0,0,0,0,0,0,0,3000,6000,0,15409.33,118362.33,118362.33,-118362.33,15000.0,90.00,90
1,30000.0,2022,1,1,1,1,0,0,1,0,1,3,3000,6000,9000,7704.67,84412.67,93412.67,-63412.67,9000.0,90.00,90
2,50000.0,2022,2,3,0,0,0,0,0,0,0,0,3000,6000,0,0.00,159983.33,159983.33,-109983.33,24000.0,90.00,90
3,50000.0,2022,2,3,0,0,0,0,0,0,0,0,3000,6000,0,0.00,159983.33,159983.33,-109983.33,24000.0,90.00,90
4,80000.0,2022,2,2,0,0,0,1,1,0,0,2,3000,6000,6000,0.00,126033.67,132033.67,-52033.67,18000.0,90.00,90
5,81000.0,2022,1,1,1,0,1,0,0,0,1,2,3000,6000,6000,7704.67,84412.67,90412.67,-9412.67,9000.0,90.00,90
6,90000.0,2022,2,3,0,0,0,1,1,0,0,2,3000,6000,6000,0.00,159983.33,165983.33,-75983.33,24000.0,90.00,90
7,105000.0,2022,1,2,1,0,1,0,0,0,0,1,3000,6000,3000,15409.33,118362.33,121362.33,-16362.33,15000.0,85.00,90
8,105000.0,2022,1,2,1,0,1,0,0,0,1,2,3000,6000,6000,15409.33,118362.33,124362.33,-19362.33,15000.0,85.00,90
9,137000.0,2022,1,1,1,0,0,0,0,0,0,0,3000,6000,0,7704.67,84412.67,84412.67,52587.33,9000.0,0.00,0
10,150000.0,2022,3,2,0,0,0,1,1,0,0,2,3000,6000,6000,0.00,133705.00,139705.00,10295.00,21000.0,50.00,80
11,160000.0,2022,2,2,0,0,0,0,0,0,0,0,3000,6000,0,0.00,126033.67,126033.67,33966.33,18000.0,0.00,50
12,NaN,2022,0,0,0,0,0,0,0,0,0,0,3000,6000,0,0.00,42791.67,42791.67,NaN,0.0,0.00,0
13,NaN,2022,1,1,1,0,0,0,0,0,0,0,3000,6000,0,7704.67,84412.67,84412.67,NaN,9000.0,0.00,0
14,15549.0,2021,1,1,1,0,0,0,0,0,0,0,3000,6000,0,8265.67,75411.00,75411.00,-59862.00,9000.0,95.00,90
15,40000.0,2021,1,1,1,1,0,0,1,0,1,3,3000,6000,9000,8265.67,75411.00,84411.00,-44411.00,9000.0,90.00,90
16,40000.0,2021,1,3,1,0,0,0,1,0,1,2,3000,6000,6000,24797.00,135193.00,141193.00,-101193.00,21000.0,91.67,90
17,45000.0,2021,1,1,1,0,0,0,0,0,0,0,3000,6000,0,8265.67,75411.00,75411.00,-30411.00,9000.0,80.00,90
18,50000.0,2021,3,1,0,0,0,0,1,0,0,1,3000,6000,3000,0.00,86225.00,89225.00,-39225.00,15000.0,91.67,90
19,50000.0,2021,1,1,1,0,0,0,0,0,0,0,3000,6000,0,8265.67,75411.00,75411.00,-25411.00,9000.0,91.67,90
20,85000.0,2021,1,2,1,0,0,0,0,0,1,1,3000,6000,3000,16531.33,105302.00,108302.00,-23302.00,15000.0,88.89,90
21,130000.0,2021,4,1,0,0,0,0,0,0,1,1,3000,6000,3000,0.00,91632.00,94632.00,35368.00,18000.0,86.67,50
22,26500.0,2020,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5035.67,53726.00,53726.00,-27226.00,6000.0,95.00,90
23,30000.0,2020,1,1,1,1,0,0,1,0,1,3,2000,4000,6000,5035.67,53726.00,59726.00,-29726.00,6000.0,95.00,90
24,40000.0,2020,1,1,1,1,0,0,1,0,0,2,2000,4000,4000,5035.67,53726.00,57726.00,-17726.00,6000.0,90.00,90
25,41000.0,2020,2,2,0,1,0,0,0,0,0,1,2000,4000,2000,0.00,78317.33,80317.33,-39317.33,12000.0,95.00,90
26,50000.0,2020,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5035.67,53726.00,53726.00,-3726.00,6000.0,95.00,90
27,50000.0,2020,3,3,0,0,0,0,0,0,0,0,2000,4000,0,0.00,102908.67,102908.67,-52908.67,18000.0,95.00,90
28,50000.0,2020,3,3,0,0,0,0,0,0,0,0,2000,4000,0,0.00,102908.67,102908.67,-52908.67,18000.0,95.00,90
29,70000.0,2020,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5035.67,53726.00,53726.00,16274.00,6000.0,89.00,0
30,75000.0,2020,2,4,0,1,0,0,0,0,0,1,2000,4000,2000,0.00,117193.33,119193.33,-44193.33,20000.0,90.00,90
31,80000.0,2020,2,2,0,0,0,0,0,0,0,0,2000,4000,0,0.00,78317.33,78317.33,1682.67,12000.0,0.00,80
32,80000.0,2020,1,1,1,0,0,0,1,0,1,2,2000,4000,4000,5035.67,53726.00,57726.00,22274.00,6000.0,89.00,0
33,80000.0,2020,1,2,1,0,0,0,0,0,1,1,2000,4000,2000,10071.33,73164.00,75164.00,4836.00,10000.0,90.00,80
34,90000.0,2020,5,2,0,0,0,0,1,0,0,1,2000,4000,2000,0.00,93777.33,95777.33,-5777.33,18000.0,90.00,90
35,102912.0,2020,3,1,0,0,0,0,0,0,0,0,2000,4000,0,0.00,64032.67,64032.67,38879.33,10000.0,90.00,0
36,26800.0,2019,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5359.00,55569.67,55569.67,-28769.67,6000.0,40.00,90
37,30000.0,2019,2,3,0,0,0,0,0,0,0,0,2000,4000,0,0.00,98591.67,98591.67,-68591.67,16000.0,40.00,90
38,50000.0,2019,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5359.00,55569.67,55569.67,-5569.67,6000.0,60.00,90
39,50000.0,2019,1,1,1,0,0,0,0,0,0,0,2000,4000,0,5359.00,55569.67,55569.67,-5569.67,6000.0,100.00,90

### Response:
- **percent_eligible** - the amount of scholarship award, by tier, that applicant is eligible for.

### Factors that contribute to allocated scholarship amount:
- **household_income** - Amount earned by adults in household.
- **number_adults** - Number of additional adults in household is multiplied by estimated cost of an adult.
- **number_children** - Number of children in household is multiplied by estimate cost of an additional child.
- **single** - Single parent additional need: whole = full amount every child; half = full amount first child and half for each additional.
- **total_circumstances** - Number of circumstances reported by family.
- **circumstance_cost** - Number of circumstances multiplied by set parameter circumstance_cost level. As circumstance_cost increases, scholarship awards will increase.
- **disposable_unit** - Set parameter defining an amount of disposable income per child (full unit) and adult (half unit); family disposable income is divided by units to determine eligibility tier. As disposable_unit increases, scholarship awards will increase.

### Tunable parameters:
- **single** - whole or half (amount determined by cost of living estimates)
- **circumstance_cost** - low or mid
- **disposable_unit** - low, mid, or high

<br>base = income by year for one adult, no children
<br>extra_cost = total_circumstances * circumstance_cost
<br>family_base_income = base + additional adults + additional children
<br>family_need_income = (base + additional adults + additional children) + (total_circumstances * circumstance_cost)

In [ ]:
real_data = real_data.dropna()
print(len(real_data))
real_data

In [ ]:
# Text based analysis. Do notes predict award?
# cosine distance between two text inputs
# are certain notes more likely to be awarded?

# tokenize, bag of words
# distance

In [ ]:
# CODE SOURCE: https://sites.temple.edu/tudsc/2017/03/30/measuring-similarity-between-texts-in-python/#:~:text=The%20cosine%20similarity%20is%20the,the%20similarity%20between%20two%20documents.

In [2]:
df_past = pd.read_csv ('/Users/sandidge/Desktop/df_past_awards_long.csv')

In [4]:
df_past = df_past[['Notes', 'percent_eligible']]

In [6]:
df_past = df_past.dropna()

In [7]:
df_past

                                                 Notes  percent_eligible
1    Rent. Elle Henry (mom) is also still a college...                90
5    I am the sole financial provider for Sula and ...                90
6    caregiving costs for an elder, provide support...                90
7    I am a full time single parent and renter who ...                90
8    I am a full time single mom and renter and rec...                90
..                                                 ...               ...
475                                               none                90
476  Reina did not attend RL Orientation with her b...                90
477                                               none                90
478                                               none                90
479                                               none                90

[384 rows x 2 columns]

In [ ]:
#a. Raw texts are preprocessed with the most common words and punctuation removed, tokenization, and stemming 
# (or lemmatization).


#___________________________
#a. Preprocessing with nltk

#Normalize by stemming:
#import nltk, string, numpy
#nltk.download('punkt') # first-time use only
#stemmer = nltk.stem.porter.PorterStemmer()
#def StemTokens(tokens):
#     return [stemmer.stem(token) for token in tokens]
#remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)

#def StemNormalize(text):
#     return StemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [ ]:
# Normalize by lemmatization: (preffered)
import nltk, string, numpy

#nltk.download('wordnet') # first-time use only
lemmer = nltk.stem.WordNetLemmatizer()
def LemTokens(tokens):
     return [lemmer.lemmatize(token) for token in tokens]

    remove_punct_dict = dict((ord(punct), None) for punct in string.punctuation)
def LemNormalize(text):
    return LemTokens(nltk.word_tokenize(text.lower().translate(remove_punct_dict)))

In [ ]:
d1 = "plot: two teen couples go to a church party, drink and then drive."
d2 = "films adapted from comic books have had plenty of success , whether they're about superheroes ( batman , superman , spawn ) , or geared toward kids ( casper ) or the arthouse crowd ( ghost world ) , but there's never really been a comic book like from hell before . "
d3 = "every now and then a movie comes along from a suspect studio , with every indication that it will be a stinker , and to everybody's surprise ( perhaps even the studio ) the film becomes a critical darling . "
d4 = "damn that y2k bug . "
documents = [d1, d2, d3, d4]

documents

In [ ]:
notes_list = df_past['Notes'].replace(to_replace='none', value=np.nan).dropna().values.tolist()
notes_list

In [ ]:
# b. A dictionary of unique terms found in the whole corpus is created. Texts are quantified first by calculating 
# the term frequency (tf) for each document. The numbers are used to create a vector for each document where each 
# component in the vector stands for the term frequency in that document. Let n be the number of documents and m 
# be the number of unique terms. Then we have an n by m tf matrix.

#__________________
#b. Turn text into vectors of term frequency:

from sklearn.feature_extraction.text import CountVectorizer
LemVectorizer = CountVectorizer(tokenizer=LemNormalize, stop_words='english')
LemVectorizer.fit_transform(notes_list)

print(LemVectorizer.vocabulary_)

tf_matrix = LemVectorizer.transform(notes_list).toarray()
print(tf_matrix)

print(tf_matrix.shape)

In [ ]:
# c. The core of the rest is to obtain a “term frequency-inverse document frequency” (tf-idf) matrix. 
# Inverse document frequency is an adjustment to term frequency. This adjustment deals with the problem that 
# generally speaking certain terms do occur more than others. Thus, tf-idf scales up the importance of rarer 
# terms and scales down the importance of more frequent terms relative to the whole corpus.

#_______________________
#c. Calculate idf and turn tf matrix to tf-idf matrix:
from sklearn.feature_extraction.text import TfidfTransformer
tfidfTran = TfidfTransformer(norm="l2")
tfidfTran.fit(tf_matrix)
print(tfidfTran.idf_)

import math
def idf(n,df):
    result = math.log((n+1.0)/(df+1.0)) + 1
    return result
print("The idf for terms that appear in one document: " + str(idf(4,1)))
print("The idf for terms that appear in two documents: " + str(idf(4,2)))


# d. Get the tf-idf matrix (4 by 41):
tfidf_matrix = tfidfTran.transform(tf_matrix)
print(tfidf_matrix.toarray())

In [ ]:
# d. The calculated tf-idf is normalized by the Euclidean norm so that each row vector has a length of 1. 
# The normalized tf-idf matrix should be in the shape of n by m. A cosine similarity matrix (n by n) can be 
# obtained by multiplying the if-idf matrix by its transpose (m by n).

# e. Get the pairwise similarity matrix (n by n):
cos_similarity_matrix = (tfidf_matrix * tfidf_matrix.T).toarray()
print(cos_similarity_matrix)

# f. Use TfidfVectorizer instead:
# Scikit-learn actually has another function TfidfVectorizer that combines the work of CountVectorizer and 
# TfidfTransformer, which makes the process more efficient.
from sklearn.feature_extraction.text import TfidfVectorizer
TfidfVec = TfidfVectorizer(tokenizer=LemNormalize, stop_words='english')
def cos_similarity(textlist):
    tfidf = TfidfVec.fit_transform(textlist)
    return (tfidf * tfidf.T).toarray()
cos_similarity(notes_list)

In [ ]:
cos_similarity(notes_list)[2]

In [ ]:
len(notes_list)

In [ ]:
# modeling
https://medium.com/data-science-lab-spring-2021/amazon-review-rating-prediction-with-nlp-28a4acdd4352